{% extends 'staff/staff_base_template.html' %}

{% block content %}
    <div class='user-in'>
        <h1>Edit Staff Details</h1>
        <form class='form-site' action="{% url 'accounts:edit_staff' %}" method="post">
            {% csrf_token %}
            <div class='sub-form'>
                <h3>User Details</h3>
                {{user_form}}
            </div>
            <br class='sub-form-gap'>
            <div class='sub-form'>
                <h3>Personal Details</h3>
                {{staff_form}}
            </div>
            <div class='form-submit'>
                <input type="submit" value="Edit">
            </div>
        </form>
    </div>
    <script src='/static/automations.js'></script>
{% endblock %}