{% extends 'homepage_base_template.html' %}

<!--- Login Page -->
{% block content %}
    <div class='user-in'>
        <h1>Login</h1>
        <form class='form-site' action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{user_form}}
            <div class='form-submit'>
                <input type="submit" value='Log In'>
            </div>
            {% if request.GET.next  %}
                <input type="hidden" name='next' value="{{ request.GET.next }}">
            {% endif %}
        </form>
    </div>
    <div class='other-options'>
        <h3>Don't have an account?</h3>
        <div class='other-links'>
            <a href="{% url 'accounts:signup_patient' %}">Signup as Patient</a>
            <a href="{% url 'accounts:signup_staff' %}">Signup as Hospital Staff</a>
        </div>
    </div>
{% endblock %}