{% extends 'homepage_base_template.html' %}

{% block content %}
    <div class='user-in'>
        <h1>Sign Up as Patient</h1>
        <form class='form-site' action="{% url 'accounts:signup_patient' %}" method="post">
            {% csrf_token %}
            <div class='sub-form'>
                <h3>User Details</h3>
                {{user_form}}
            </div>
            <br class='sub-form-gap'>
            <div class='sub-form'>
                <h3>Personal Details</h3>
                {{patient_form}}
            </div>
            <div class='form-submit'>
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <div class='other-options'>
        <h3>Other options?</h3>
        <div class='other-links'>
            <a href="{% url 'accounts:signup_staff' %}">Signup as Hospital Staff</a>
            <a href="{% url 'accounts:login' %}">Login</a>
        </div>
    </div>
{% endblock %}