{% extends 'patient/patient_base_template.html' %}

{% block content %}
    <h1>Electronic Health Record</h1>
    <div class='ehr-view'>
        <div class='non-presc-view'>
            <div class='medhist-view'>
                <h2>Medical History</h2>
                {% if medhist_entries|length == 0 %}
                    <h4 class='error-msg'> No Medical History to show</h4>
                {% else %}
                    {% for medhist_entry in medhist_entries %}
                        <ul class='medhist-bullets'>
                            <li class='medhist'>
                                <div class='medhist-text'>
                                    <div class='medhist-text-top'>
                                        <h2>{{ medhist_entry.event }}</h2>
                                        <h3>{{ medhist_entry.details }}</h3>
                                    </div>
                                    <h3 class='medhist-text-bottom'>{{ medhist_entry.date }}</h3>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
            <div class='bill-view'>
                <h2>Billing Details</h2>
                {% if bill_entries|length == 0 %}
                    <h4 class='error-msg'> No Medical Bills to show</h4>
                {% else %}
                    {% for bill_entry in bill_entries %}
                        <div class='bill'>
                            <div class='bill-left'>
                                <div>
                                    <h2>{{ bill_entry.service }}</h2>
                                </div>
                                <h3>{{ bill_entry.details }}</h3>
                                <h4>{{ bill_entry.date }}</h4>
                            </div>
                            <div class='bill-right'>
                                <h3>Rs. {{ bill_entry.charge }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class='presc-view'>
            <h2>Prescriptions</h2>
            {% if presc_entries|length == 0 %}
                <h4 class='error-msg'> No Medical Bills to show</h4>
            {% else %}
                {% for presc_entry in presc_entries %}
                    <div class='presc'>
                        <div class='presc-top'>
                            <h2>{{ presc_entry.medication }}</h2>
                            <br>
                            <h4>{{ presc_entry.instruction }}</h4>
                            <br>
                        </div>
                        <div class='presc-bottom'>
                            <h4>{{ presc_entry.date }}</h4>
                            <h4>By {{ presc_entry.staff.staff }}</h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}