{% extends 'patient/patient_base_template.html' %}

{% block content %}
    <h1>Patient Dashboard</h1>
    <div class='homepage-view'>
        
        <a href="{% url 'ehr:view-ehr' %}">
            <div class='card'>
                <div class='card-content'>
                    <div style="background-image: url(/static/CardImages/view_ehr.png);">
                    </div>
                    <h2>View Electronic Health Record</h2>
                </div>
            </div>
        </a>

        <a href="{% url 'patient:health-status' %}">
            <div class='card'>
                <div class='card-content'>
                    <div style="background-image: url(/static/CardImages/view_health_status.jpg);">
                    </div>
                    <h2>View Health Status</h2>
                </div>
            </div>
        </a>

    </div>
{% endblock %}