{% extends 'staff/staff_base_template.html' %}

<!--- To delete a patient's account -->
{% block content %}
    <div>
        <h1>Remove Patient</h1>
    </div>
    <div class='validate'>
        <form action="{% url 'staff:remove_patient' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Room Number</th>
                    <th>Removal</th>
                </tr>
                {% for patient in valid_patients %}
                    <tr>
                        <td>{{patient}}</td>
                        <td>{{patient.user.username}}</td>
                        <td>{{patient.room_number}}</td>
                        <td>
                            <input type="checkbox" name="{{patient.user.username}}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class='form-submit'>
                <input type="submit" value='Submit'>
            </div>
        </form>
    </div>
{% endblock %}