{% extends 'administration/administration_base_template.html' %}

<!---
    Administration Statistics Dashboard (requires admin login)
    * Gender Ratio: Current male-to-female ratio
        > Helps in tracking male-to-female ratio to check gender bias
    * Monthly Billing: Average monthly billing of the hospital
        > Helps in observing seasonality and thus predicting long-term patient traffic
    * Daily Billing: Average day-of-week based billing
        > Helps in observing weekly trends and thus predicting short-term patient traffic
    * Admission & Discharge Rate: Number of patients admitted and discharged from the hospital
        > Helps in tracking recent business and incoming and outgoing traffic
    * Room Occupancy: Number of rooms currently occupied
        > Helps in checking under-use or over-use of beds
    * Age Histogram: Distribution of patient ages
        > Helps in analyzing the patient population and which category of patients
          (toddlers, young, old) are more likely to come
    * Patient Geomap: Geographical city-wide distribution of patients
        > Helps in analyzing from which parts of the city have the patients come which could
          help in advertising or expansion of the hospital
-->
{% block content %}
    <h1>Hospital Statistics</h1>
    <div class='stats-view'>
        
        <div class='stats-left-view'>
            
            <div class='stats-card'>
                <div class='gender-ratio'>
                    <h2>Gender Ratio</h2>
                    <iframe src="/static/PlotlyGraphs/gender_ratio.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>
            
            <div class='stats-card'>
                <div class='monthly-billing'>
                    <h2>Monthly Billing</h2>
                    <iframe src="/static/PlotlyGraphs/monthly_billing.html" width=100% height=100%'>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

            <div class='stats-card'>
                <div class='daily-billing'>
                    <h2>Average Daily Billing</h2>
                    <iframe src="/static/PlotlyGraphs/daily_billing.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

            <div class='stats-card'>
                <div class='admission-discharge-rate'>
                    <h2>Admission & Discharge Rate</h2>
                    <iframe src="/static/PlotlyGraphs/admission_discharge_rate.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

        </div>

        <div class='stats-right-view'>
            
            <div class='stats-card'>
                <div class='room-occupancy'>
                    <h2>Hospital Room Occupancy</h2>
                    <iframe src="/static/PlotlyGraphs/room_occupancy.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

            <div class='stats-card'>
                <div class='age-histogram'>
                    <h2>Patient Age Distribution</h2>
                    <iframe src="/static/PlotlyGraphs/age_histogram.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

            <div class='stats-card'>
                <div class='patient-geomap'>
                    <h2>Patient Geomap</h2>
                    <iframe src="/static/PlotlyGraphs/patient_geomap.html" width=100% height=100%>
                        Error loading visualization
                    </iframe>
                </div>
            </div>

        </div>
    
    </div>
{% endblock %}