{% extends 'homepage_base_template.html' %}

{% block content %}
    <h1>About</h1>
    
    <div class='text-content'>
        <div class='text'>
            <p>
                Healthcare is centered around patients. Everything done by healthcare workers is eventually for the patients' benefit.
                It therefore goes without saying that patients should be the most important stakeholders in a hospital business.
            </p>
                Healthcare in India is taking massive strides in not only advancing medical technology but also improving patient experience.
                This is a humble attempt at creating an  IoT-based Smart Hospital environment.
                Such systems utilize the powerful tools of embedded system design and web connectivity to enhance patient experience at hospitals.
                We hope that such a setup in a hospital can improve its Quality of Service and provide good value for money.
            </p>
        </div>
    </div>
{% endblock %}