{% extends 'homepage_base_template.html' %}

{% block content %}
    <h1>Contact</h1>

    <div class='text-content'>
        <div class='text-table'>
            <h2><img src='/static/creators.png' alt="SmartHospital" /></h2>
            <h3>Sakshat Rao & Rajamani Ayyer</h3>
            <h2><img src='/static/mail.png' alt="SmartHospital" /></h2>
            <h3>sakshatrao99@gmail.com</h3>
            <h2><img src='/static/location.png' alt="SmartHospital" /></h2>
            <h3>Mumbai, India</h3>
        </div>
    </div>
{% endblock %}