{% extends 'homepage_base_template.html' %}

{% block content %}
    <h1>Features</h1>

    <div class='text-content'>
        <div class='text'>
            <h3>Features Already Implemented: </h2>
            <br>
            <div class='text-table'>
                <div class='with-img'> <h2>Web Server</h2> </div>
                <div class='without-img'> <h2>Centralized web server for patients and hospital staff</h2> </div>
                <div class='with-img'> <h2>Dashboard</h2> </div>
                <div class='without-img'> <h2>Personalized dashboard for focused usage</h2> </div>
            </div>
            <br>
            <br>
            <h3>Features To Be Implemented: </h2>
            <br>
            <div class='text-table'>
                <div class='with-img'> <h2>Electronic Health Records</h2> </div>
                <div class='without-img'> <h2>EHRs which can be easily accessed by patient and edited by hospital staff</h2> </div>
                <div class='with-img'> <h2>Remote Patient Monitoring</h2> </div>
                <div class='without-img'> <h2>Wearable embedded devices for patients that can monitor patient health and send alerts</h2> </div>
                <div class='with-img'> <h2>Smart Sanitizers</h2> </div>
                <div class='without-img'> <h2>Sanitizers which encourage its usage whenever a person enters a patient's room</h2> </div>
            </div>
        </div>
    </div>
{% endblock %}