{% extends 'homepage_base_template.html' %}

{% block content %}
    <div>
        <h1>Smart Hospital Homepage</h1>
    </div>
    {% if user.is_authenticated == False %}
        <div class='unauth'>
            <a href="{% url 'about' %}"> <div> <h2>About</h2> </div> </a>
            <a href="{% url 'about' %}"> <div> <h3>Know more about us!</h3> </div> </a>
            <a href="{% url 'features' %}"> <div> <h2>Features</h2> </div> </a>
            <a href="{% url 'features' %}"> <div> <h3>Know about the features we provide!</h3> </div> </a>
            <a href="{% url 'contact' %}"> <div> <h2>Contact</h2> </div> </a>
            <a href="{% url 'contact' %}"> <div> <h3>Feel free to contact us!</h3> </div> </a>
        </div>
    {% else %}
        <div class='auth'>
            {% if is_patient == True %}
                <a href="{% url 'patient:homepage' %}"> <div> <h2>Patient Dashboard</h2> </div> </a>
                <a href="{% url 'patient:homepage' %}"> <div> <h3>Check your health status!</h3> </div> </a>
            {% else %}
                <a href="{% url 'staff:homepage' %}"> <div> <h2>Staff Dashboard</h2> </div> </a>
                <a href="{% url 'staff:homepage' %}"> <div> <h3>Monitor patients remotely!</h3> </div> </a>
            {% endif %}
            <a href="{% url 'about' %}"> <div> <h2>About</h2> </div> </a>
            <a href="{% url 'about' %}"> <div> <h3>Know more about us!</h3> </div> </a>
            <a href="{% url 'features' %}"> <div> <h2>Features</h2> </div> </a>
            <a href="{% url 'features' %}"> <div> <h3>Know about the features we provide!</h3> </div> </a>
            <a href="{% url 'contact' %}"> <div> <h2>Contact</h2> </div> </a>
            <a href="{% url 'contact' %}"> <div> <h3>Feel free to contact us!</h3> </div> </a>
        </div>
    {% endif %}
{% endblock %}